@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'bebas neue';
  src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

* {
  cursor: url('./assets/cursor.svg'), auto;
}

html { 
  scroll-behavior: smooth; 
  scroll-padding-top: 80px;
}

::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4e3d91;
  border-radius: 10px; 
}
